* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --transition: all 0.3s linear;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.section {
  padding: 5rem 0;
  width: 90vw;
  margin: 0rem auto;
  max-width: 1170px;
}
@media screen and (max-width: 576px) {
  .section {
    width: 80vw;
  }
}

/*
Navbar
*/
nav {
  background: linear-gradient(to right, #f27121, #e94057);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: white;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: black;
  transform: rotate(90deg);
}

.link {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 1.5;
  text-decoration: none;
  font-weight: 600;
  padding: 1rem;
  transition: var(--transition);
}
.link:hover {
  background: linear-gradient(to right, #f3a371, #e17987);
  padding-left: 1.5rem;
}

.links-container {
  height: 0rem;
  overflow: hidden;
}
.links {
  display: grid;
  grid-template-rows: auto;
}
.showLinks {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .link:hover {
    color: black;
  }
}

/* Footer */
footer {
  background: linear-gradient(to right, #f27121, #e94057);
  text-align: center;
  padding: 1rem;
}
.footer-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-link {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 1.5;
  text-decoration: none;
  font-weight: 400;
  padding: 1rem;
  transition: var(--transition);
}
.footer-link:hover {
  color: black;
}
.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}
.footer-icons a {
  color: white;
  font-size: 1.5rem;
}
.footer-icons a:hover {
  color: black;
}
.footer-text {
  font-size: 1.25rem;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  color: white;
}
@media screen and (min-width: 800px) {
  .footer-center {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0.5rem;
  }
  .footer-link {
    padding: 0;
  }
  .footer-icons {
    padding: 0;
  }
}
